* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;         
  padding: 10px 20px;
  background-color: #0D0D0D; 
  color: #F6C453;
  border-bottom: 2px solid #C1121F; 
}
.nav a {
  color: #F6C453; 
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}
.nav a:hover {
  color:#C1121F;
}
.contact-btn {
  background-color: #C1121F;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #C1121F;
  transition: 0.3s;
}
.contact-btn:hover {
  background-color: transparent;
  color: #C1121F;
}
.blogs {
  padding: 60px 20px;
  background: #0D0D0D; 
  text-align: center;
  font-family: "Poppins";
  color: #FFFFFF;
}
.blogs h1 {
  font-size: 2.4rem;
  margin-bottom: 15px;
  color: #F6C453;
  font-family:  "Poppins";                     
}
.blogs p {
  color: #F6C453;
  margin-bottom: 40px;
  line-height: 1.6;
  font-style: italic;
}
.blogs-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.blogs-posts {
  background: #1A1A1A;
  border-radius: 14px;
  overflow: hidden;
  width: 95%;
  max-width: 450px;
  text-align: left;
  border: 2px solid #C1121F;
  transition: transform 0.3s, box-shadow 0.3s;
}
.blogs-posts:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
.blogs-posts img {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-bottom: 2px solid #C1121F;
}
.blogs-content {
  padding: 20px;
}
.blogs-content h2 {
  font-size: 1.4rem; 
  margin-bottom: 8px;
  color: #F6C453;
}
.blogs-content .preview {
  color: #F6C453;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1rem;
}
.blogs-content .full-content {
  display: none;
  color: #F6C453;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1rem;
}
.read-more {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 2px solid #C1121F;
  color: #C1121F;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.read-more.arrow {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
.read-more:hover .arrow {
  transform: translateX(5px);
}
.read-more:hover {
  background: rgba(193, 18, 31, 0.1);
}
.blogs-posts.expanded .full-content {
  display: block;
}
.blogs-posts.expanded .read-more::after {
  content: "Show Less";
}