body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f6f6f6;
    color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;         
  padding: 10px 20px;
  background-color: #0D0D0D; 
  color: #F6C453;
  border-bottom: 2px solid #C1121F; 
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;  
  height: 40px;
  margin-right: 10px;
  border-radius: 50%; 
  border: 2px solid #C1121F; 
}
.nav a {
  color: #F6C453; 
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}
.nav a:hover {
  color:#C1121F;
}
.contact-btn {
  background-color: #C1121F;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #C1121F;
  transition: 0.3s;
}
.contact-btn:hover {
  background-color: transparent;
  color: #C1121F;
}
.welcome {
    text-align: center;
    padding: 30px 20px;
}
.welcome h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
.welcome p {
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    color: #666;
}
.latest-posts {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0 50px;
}
.latest-posts h2 {
    margin-bottom: 20px;
    font-size: 26px;
}
.post {
    display: flex;
    background: rgb(247, 247, 247);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.post img {
    width: 130px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}
.post-info h3 {
    margin: 0 0 5px;
    font-size: 20px;
}
.meta {
    font-size: 12px;
    color: #888;
}
.post-info p {
    font-size: 14px;
    margin: 10px 0;
}
.post-info .preview {
  color: #050505;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1rem;
}
.post-info .full-content {
  display: none;
  color: #050505;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1rem;
}
.read-more {
  display: inline-flex;
  float: right;
  background: transparent;
  border: 2px solid #C1121F;
  color: #C1121F;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.read-more .arrow {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
.read-more:hover .arrow {
  transform: translateX(5px);
}
.read-more:hover {
  background: rgba(193, 18, 31, 0.1);
}
.blog-post.expanded .full-content {
  display: block;
}
.blog-post.expanded .read-more::after {
  content: "Show Less";
}